.logo {
    display: block;
    margin: 20px;
    margin-left:80px;
    width: 300px;
    padding: 0px;
}

.current-temp {
    font-size: 40px;
    padding-top: 5px;
    background-color: rgb(243, 242, 242);
    margin: 10px;
}

h1 {
    color: rgb(121, 120, 120);
    font-size: 24px;
    font-weight: 100;
    line-height: 50px;
    margin-top: 20px;
    padding-top: 10px;
}

.noks-weather-app {
    padding: 15px;
    margin: 20px auto;
    border-color: black;
    border-radius: 10px;
    max-width: 500px;
    display: block;
    background-color: rgb(245, 244, 244);
}

.temperature {
    color: rgb(33, 33, 33);
    font-size: 64px;
    font-weight: 300;
    line-height: 1;
}

.weather-temperature .active{
    color: rgb(7, 7, 7);
    cursor: default;

}

.weather-temperature .active:hover{
    text-decoration: none;
}

strong {
    color: rgb(61, 57, 57);
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
}

.units {
    position: relative;
    top: -34px;
}

.search-form {
    margin-bottom: 10px;
}

.condition {
    color: grey;
    font-size: 12px;
    line-height: 15px;
    justify-content: right;
}

ul {
    margin: 0 0 10px;
    padding: 0;
}

li {
    color: #3a3939;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
}

.current {
    color: darkgray;
    font-size: 15px;
    padding: 0px;
    text-align: justify;
}

.col-2 .btn .btn-success .w-100 {
    border: none;
    color: white;
    background-color: gray;
    padding: 10px;
    font-size: 10px;
    text-align: justify;
    cursor: pointer;
}

.btn:hover {
    background-color: lightgray;
}
